/******** POPRAWKI BUGÓW *****************************/


/*Poprawka fieldseta dla chrome */

fieldset.ui-fieldset {
    padding-bottom: 9px;
}

/*Poprawka źle działającego cienia w nagłówkach*/
th.ui-state-default {
    box-shadow : none !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #7096ab;
    background: #85b2cb url("/ui/javax.faces.resource/images/ui-bg_inset-hard_65_85b2cb_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #85b2cb linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#CCFFFFFF); */
    color: #313131;
    text-shadow: none;
}

.ui-inputfield {
    box-shadow: none !important;
}
