/*------------------------------------*\
  ZMIANY W WYGLĄDZIE KOMPONENTÓW STANDARDOWYCH
\*------------------------------------*/

th a {
    display: inline-block;
    vertical-align: middle;
}




.ui-dialog-content {
    padding: 20px !important;
}

.ui-fieldset,
.ui-tabs,
.ui-datatable,
.ui-panel {
    margin-bottom: 10px;
}

.ui-panel {
    padding: 0;
}

.ui-panel .ui-panel-content {
    padding: 20px;
}

.ui-panel .ui-panel-titlebar {
    padding: 1em;
    border-width: 0 0 1px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.ui-panel .ui-panel-titlebar .ui-panel-title {
    text-transform: uppercase;
}

.ui-datatable .ui-datatable-header {
    text-align: left;
    padding: 0.5em 1em
}

.ui-datatable th,
.ui-datatable tfoot td {
    padding: 3px 5px;
    line-height: 16px;
}

.ui-datatable .ui-sortable-column {
    padding-right: 21px;
}

.ui-datatable .ui-sortable-column .ui-sortable-column-icon {
    margin-right: -18px;
}

.ui-inputfield {
    padding: 3px;
}

.ui-datepicker {
    display: none;
}

.ui-message-info,
.ui-message-error,
.ui-message-warn,
.ui-message-fatal {
    margin: 0 0 3px;
}


.ui-cell-editor-input .hasDatepicker {
    width: 60px;
}

.ui-toolbar {
    margin-bottom: -1px;
}

input[disabled],
textarea[disabled] {
    color: #aaa !important;
    background: #eee !important;
}



.ui-editable-column .ui-message-error {
    text-shadow: none;
}

.ui-editable-column .ui-message-error .ui-message-error-detail {
    margin: 0;
}

.ui-editable-column .ui-message-error .ui-message-error-icon {
    display: none;
}


.ui-datalist .ui-datalist-data {
    border: 0;
    margin: 0;
    padding: 0 0 0 15px;
}



.fc-content td.ui-state-default {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


.ui-tabs-nav em {
    font-style: normal !important;
}


